/*body{
    background-image: url(graphpaper.jpg);
    background-attachment: fixed;
    background-color: #ffcc77;
}*/
body{
    background-color: #333333;
}

header{
    position: fixed;
    z-index: 1;
    background-color: #ffcc77;
    color: #ffffff;
    height: 100px;
    width: 100%;
    padding: 0px 50px;
    border-bottom: 3px solid #000000;
}

.headerLink{
    background-color: #999999;
    color: #bb00bb;
    font-size: 20px;
    border: 2px solid #000000;
    padding: 0px 20px;
    margin-right: -6px;
}

.headerLink:visited{
    color: #dddddd;
}

.footerLink{
    color: #ff00ff;
}

.headerDiv{
    margin-top: -62px;
    text-align: center;
}

footer{
    color: #ffffff;
    margin: 20px 50px;
}

#content{
    padding: 200px 100px 0px 100px;
    border-bottom: 3px solid #000000;
    background-image: url(graphpaper.jpg);
    background-attachment: fixed;
    margin-left: 50px;
    margin-right: 50px;
}

#profilepic{
    height: 200px;
    border: 10px solid #551100;
    box-shadow: #777777 0px 0px 20px 0px;
    margin-bottom: 20px;
}

.titleDiv{
    border-top: 1px solid #777777;
}

.contentDiv{
    background-color: #ffffff;
    box-shadow: #777777 0px 0px 20px 0px;
    padding: 25px;
    margin: 75px;
}

.title{
    margin-top: -100px;
    padding-top: 100px;
    float: left;
}

.projectimg{
    height: 200px;
    float: left;
}

.project{
    font-size: 20px;
}

a{
    color: #990099;
    text-decoration: none !important;
}

a:visited{
    color: #bbbbbb;
}

a:hover{
    color: #ff0000 !important;
    text-decoration: none;
}

.upButton{
    margin: 10px;
    font-size: 30px;
    float: right;
}

.upButton:visited{
    color: #990099;
}

#resume{
    position: relative;
    width: 100%;
}

span1{
    color: #771100;
    font-family: Arial;
}

span2{
    color: #777777;
}

#headerTitle{
    font-size: 48px;
    margin: 50px 0px;
}